.app {
    margin: auto;
    width: 450px;

}
.header {
    font-size: 22px;
    text-align: center;
    padding: 15px 0;
}
.form {
    display: flex;
}
.form input {
    flex: 1;
}
.form button {
    background-color: aqua;
    color: white;
    padding: 15px 30px;
    border: none;
    margin-left: 15px;
}